<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bringit">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BringIt">
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Order_Screen"
            android:exported="false" />
        <activity
            android:name=".Account_Settings"
            android:exported="false" />
        <activity
            android:name=".Basket"
            android:exported="false" />
        <activity
            android:name=".Add_to_basket"
            android:exported="false" />
        <activity
            android:name=".Register_Screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>